# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
**/db.sqlite3
staticfiles/

# Secrets
.env
.env.*
**/.env

# Archives
*.zip
*.tar.gz

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
